@import " ../../../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  svg {
    width: 65px;
    height: 65px;
  }
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25;
  color: $primary-color;
}
.change_theme {
  cursor: pointer;
  svg {
    width: 35px;
    height: 35px;
  }
}
